* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 8px;
  color: #6D5D4B; }
  @media (min-width: 600px) {
    html {
      font-size: 10px; } }

.container {
  display: flex;
  flex-direction: column; }
  @media (min-width: 600px) {
    .container {
      flex-direction: row; } }

html {
  font-family: "Nunito", sans-serif;
  font-family: 300; }

.heading-1 {
  font-size: 4rem;
  color: #f9f7f6;
  font-weight: 400;
  margin: 2rem 0 2.5rem;
  font-family: "Josefin Sans", sans-serif; }
  @media (min-width: 600px) {
    .heading-1 {
      font-size: 5rem; } }

.heading-2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4rem;
  font-style: italic;
  font-weight: 200;
  margin: 2rem 0;
  color: #54483A; }

.heading-4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #c69963;
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif; }
  .heading-4--initial {
    text-transform: initial; }
  .heading-4--dark {
    color: #54483A; }

.main {
  display: flex;
  flex-direction: column;
  flex: 1; }

.sidebar {
  background-color: #c69963;
  flex: 0 0 7rem;
  display: flex;
  justify-content: flex-end; }
  @media (min-width: 600px) {
    .sidebar {
      justify-content: center; } }

.header {
  background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  flex: 0 1 auto;
  padding: 3rem 1.5rem; }
  @media (min-width: 600px) {
    .header {
      padding: 3.5rem 8rem 8rem; } }
  @media (min-width: 900px) {
    .header {
      flex: 0 0 72%; } }
  .header__logo {
    max-width: 15rem;
    margin: 0 auto;
    display: block; }
  .header__text {
    margin: 8rem 0rem 6rem; }
    @media (min-width: 600px) {
      .header__text {
        margin: 10rem 0rem 6rem; } }
  .header__seenon-text {
    margin: 0 auto;
    font-size: 1.6rem;
    color: #aaa;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header__seenon-text::before, .header__seenon-text::after {
      content: '';
      flex: 1;
      display: block;
      height: 1px;
      background-color: #aaa; }
    .header__seenon-text::before {
      margin-right: 1.5rem; }
    .header__seenon-text::after {
      margin-left: 1.5rem; }
  .header__seenon-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .header__seenon-img {
    max-width: 10rem;
    margin: 3rem;
    filter: brightness(70%); }
    @media (min-width: 600px) {
      .header__seenon-img {
        margin: 2rem 0rem; }
        .header__seenon-img:not(:last-child) {
          margin-right: 9rem; } }

.realtors {
  background-color: #101d2c;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1.5rem; }
  @media (min-width: 900px) {
    .realtors {
      flex: 0 0 28%; } }
  .realtors__list {
    display: flex;
    flex-direction: column; }
    @media (min-width: 600px) {
      .realtors__list {
        flex-direction: row; } }
    @media (min-width: 900px) {
      .realtors__list {
        flex-direction: column; } }
  .realtors__item {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    flex-direction: row; }
    @media (min-width: 600px) {
      .realtors__item {
        flex-direction: column; } }
    @media (min-width: 900px) {
      .realtors__item {
        flex-direction: row; } }
  .realtors__img {
    max-width: 6rem;
    border-radius: 50%;
    margin-right: 1.5rem;
    margin-bottom: 0; }
    @media (min-width: 600px) {
      .realtors__img {
        margin-bottom: 1.5rem; } }
    @media (min-width: 900px) {
      .realtors__img {
        margin-bottom: 0; } }
  .realtors__name {
    color: #f9f7f6;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    font-weight: 400; }
  .realtors__sold {
    color: #aaa;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: .5rem; }

.features {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 1.5rem;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  align-items: flex-start; }
  @media (min-width: 600px) {
    .features {
      flex-direction: row;
      padding: 8rem 5rem; } }

.feature {
  display: flex;
  padding: 2rem;
  flex: 0 0 30%; }
  .feature__icon {
    fill: #c69963;
    width: 20rem;
    height: 5rem;
    align-self: flex-start;
    transform: translateY(-1.5rem); }
  .feature__text-wrapper {
    margin-left: 2rem; }
  .feature__title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1.5rem; }
  .feature__text {
    font-size: 2rem; }

.story {
  display: flex;
  flex-direction: column; }
  @media (min-width: 900px) {
    .story {
      flex-direction: row; } }
  .story__pictures {
    background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
    background-size: cover;
    background-position: center;
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0; }
    @media (min-width: 900px) {
      .story__pictures {
        flex: 0 0 50%;
        padding: 0; } }
  .story__img-container {
    position: relative; }
  .story__img--1 {
    max-width: 65%;
    display: block;
    margin: 0 auto; }
  .story__img--2 {
    max-width: 40%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%); }
    @media (min-width: 900px) {
      .story__img--2 {
        max-width: 55%;
        top: 83%;
        right: -7%;
        transform: translateY(-50%); } }
  .story__content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9%;
    background-color: #f9f7f6;
    flex: 0 1 auto; }
    @media (min-width: 600px) {
      .story__content {
        flex: 0 0 50%; } }
  .story__paragraph {
    font-size: 1.6rem;
    font-style: italic;
    margin-bottom: 4rem; }

.homes {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0 2rem;
  flex-wrap: wrap; }
  @media (min-width: 600px) {
    .homes {
      margin: 5rem 0 2rem; } }
  @media (min-width: 900px) {
    .homes {
      margin: 12rem 0 7rem; } }

.home {
  flex: 0 0 100%;
  margin-bottom: 0;
  padding: 2rem; }
  @media (min-width: 600px) {
    .home {
      margin-bottom: 6rem; } }
  @media (min-width: 900px) {
    .home {
      flex: 0 0 40%;
      padding: 0rem; } }
  @media (min-width: 1200px) {
    .home {
      flex: 0 0 27%; } }
  .home__img-wrapper {
    position: relative; }
  .home__like {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    fill: #c69963; }
  .home__img {
    width: 100%;
    display: block; }
  .home__name {
    background-color: #101d2c;
    color: #f9f7f6;
    min-height: 5rem;
    width: 83%;
    font-size: 1.5rem;
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, -50%); }
  .home__detail-list {
    list-style: none;
    background-color: #f9f7f6;
    padding: 6rem 2rem 1rem;
    display: flex;
    flex-wrap: wrap; }
  .home__detail-item {
    display: flex;
    flex: 0 0 50%;
    margin-bottom: 4rem;
    align-items: center; }
    .home__detail-item p {
      font-size: 1.5rem; }
  .home__icon {
    width: 2rem;
    height: 2rem;
    fill: #c69963;
    margin-right: 1rem; }

.btn {
  padding: 1.5rem 3rem;
  border: none;
  outline: none;
  cursor: pointer; }
  .btn--header {
    color: #f9f7f6;
    background-color: #c69963;
    font-size: 1.5rem;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase; }
  .btn--block {
    width: 100%; }

.btn-nav {
  width: 4rem;
  height: .2rem;
  background-color: #f9f7f6;
  margin-top: 0;
  cursor: pointer;
  margin-right: 1.5rem;
  align-self: center; }
  @media (min-width: 600px) {
    .btn-nav {
      margin-right: 0;
      margin-top: 3rem;
      align-self: flex-start; } }
  .btn-nav::before {
    content: "";
    display: block;
    width: 4rem;
    height: .2rem;
    background-color: #f9f7f6;
    transform: translateY(-1.5rem); }
  .btn-nav::after {
    content: "";
    display: block;
    width: 4rem;
    height: .2rem;
    background-color: #f9f7f6;
    transform: translateY(1.3rem); }

.gallery {
  display: flex;
  flex-wrap: wrap;
  background-color: #f9f7f6; }
  .gallery__item {
    padding: .5rem;
    flex: 0 0 25%; }
    .gallery__item--1 {
      flex: 0 0 20%; }
    .gallery__item--2 {
      flex: 0 0 40%; }
    .gallery__item--3 {
      flex: 0 0 15%; }
    .gallery__item--5 {
      flex: 0 0 10%; }
    .gallery__item--7 {
      flex: 0 0 10%; }
    .gallery__item--9 {
      flex: 0 0 10%; }
    .gallery__item--10 {
      flex: 0 0 20%; }
    .gallery__item--11 {
      flex: 0 0 34%; }
    .gallery__item--13 {
      flex: 0 0 15%; }
  .gallery__img {
    width: 100%; }

.u-center-text {
  text-align: center; }

.u-margin-bot-small {
  margin-bottom: 1rem; }

.u-margin-bot-medium {
  margin-bottom: 2rem; }

.u-header-realtors-wrapper {
  display: flex;
  flex-direction: column; }
  @media (min-width: 900px) {
    .u-header-realtors-wrapper {
      flex-direction: row; } }
