* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 8px;
  color: #6D5D4B; }
  @media (min-width: 600px) {
    html {
      font-size: 10px; } }

.container {
  display: flex;
  flex-direction: column; }
  @media (min-width: 600px) {
    .container {
      flex-direction: row; } }

html {
  font-family: "Nunito", sans-serif;
  font-family: 300; }

.heading-1 {
  font-size: 4rem;
  color: #f9f7f6;
  font-weight: 400;
  margin: 2rem 0 2.5rem;
  font-family: "Josefin Sans", sans-serif; }
  @media (min-width: 600px) {
    .heading-1 {
      font-size: 5rem; } }

.heading-4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #c69963;
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif; }
  .heading-4--initial {
    text-transform: initial; }
  .heading-4--dark {
    color: #54483A; }

.main {
  display: flex;
  flex-direction: column;
  flex: 1; }

.sidebar {
  background-color: #c69963;
  flex: 0 0 7rem;
  display: flex;
  justify-content: flex-end; }
  @media (min-width: 600px) {
    .sidebar {
      justify-content: center; } }

.header {
  background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  flex: 0 1 auto;
  padding: 3rem 1.5rem; }
  @media (min-width: 600px) {
    .header {
      padding: 3.5rem 8rem 8rem; } }
  @media (min-width: 900px) {
    .header {
      flex: 0 0 72%; } }
  .header__logo {
    max-width: 15rem;
    margin: 0 auto;
    display: block; }
  .header__text {
    margin: 8rem 0rem 6rem; }
    @media (min-width: 600px) {
      .header__text {
        margin: 10rem 0rem 6rem; } }
  .header__seenon-text {
    margin: 0 auto;
    font-size: 1.6rem;
    color: #aaa;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header__seenon-text::before, .header__seenon-text::after {
      content: '';
      flex: 1;
      display: block;
      height: 1px;
      background-color: #aaa; }
    .header__seenon-text::before {
      margin-right: 1.5rem; }
    .header__seenon-text::after {
      margin-left: 1.5rem; }
  .header__seenon-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .header__seenon-img {
    max-width: 10rem;
    margin: 3rem;
    filter: brightness(70%); }
    @media (min-width: 600px) {
      .header__seenon-img {
        margin: 2rem 0rem; }
        .header__seenon-img:not(:last-child) {
          margin-right: 9rem; } }

.realtors {
  background-color: #101d2c;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1.5rem; }
  @media (min-width: 900px) {
    .realtors {
      flex: 0 0 28%; } }
  .realtors__list {
    display: flex;
    flex-direction: column; }
    @media (min-width: 600px) {
      .realtors__list {
        flex-direction: row; } }
    @media (min-width: 900px) {
      .realtors__list {
        flex-direction: column; } }
  .realtors__item {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    flex-direction: row; }
    @media (min-width: 600px) {
      .realtors__item {
        flex-direction: column; } }
    @media (min-width: 900px) {
      .realtors__item {
        flex-direction: row; } }
  .realtors__img {
    max-width: 6rem;
    border-radius: 50%;
    margin-right: 1.5rem;
    margin-bottom: 0; }
    @media (min-width: 600px) {
      .realtors__img {
        margin-bottom: 1.5rem; } }
    @media (min-width: 900px) {
      .realtors__img {
        margin-bottom: 0; } }
  .realtors__name {
    color: #f9f7f6;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    font-weight: 400; }
  .realtors__sold {
    color: #aaa;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: .5rem; }

.features {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 1.5rem;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 600px) {
    .features {
      flex-direction: row;
      padding: 8rem 5rem; } }

.feature {
  display: flex;
  padding: 2rem;
  flex: 0 0 30%; }
  .feature__icon {
    fill: #c69963;
    width: 20rem;
    height: 5rem;
    align-self: flex-start;
    transform: translateY(-1.5rem); }
  .feature__text-wrapper {
    margin-left: 2rem; }
  .feature__title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1.5rem; }
  .feature__text {
    font-size: 2rem; }

.btn {
  padding: 1.5rem 3rem;
  border: none;
  outline: none;
  cursor: pointer; }
  .btn--header {
    color: #f9f7f6;
    background-color: #c69963;
    font-size: 1.5rem;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase; }

.btn-nav {
  width: 4rem;
  height: .2rem;
  background-color: #f9f7f6;
  margin-top: 0;
  cursor: pointer;
  margin-right: 1.5rem;
  align-self: center; }
  @media (min-width: 600px) {
    .btn-nav {
      margin-right: 0;
      margin-top: 3rem;
      align-self: flex-start; } }
  .btn-nav::before {
    content: "";
    display: block;
    width: 4rem;
    height: .2rem;
    background-color: #f9f7f6;
    transform: translateY(-1.5rem); }
  .btn-nav::after {
    content: "";
    display: block;
    width: 4rem;
    height: .2rem;
    background-color: #f9f7f6;
    transform: translateY(1.3rem); }

.u-center-text {
  text-align: center; }

.u-margin-bot-small {
  margin-bottom: 1rem; }

.u-margin-bot-medium {
  margin-bottom: 2rem; }

.u-header-realtors-wrapper {
  display: flex;
  flex-direction: column; }
  @media (min-width: 900px) {
    .u-header-realtors-wrapper {
      flex-direction: row; } }
