// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// MEDIA QUERIES

@mixin atSmall {
    @media (min-width: 600px) { 
        @content; 
    };
}

@mixin atMedium {
    @media (min-width: 900px) { 
        @content; 
    };
}

@mixin atLarge {
    @media (min-width: 1200px) { 
        @content; 
    };
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 8px;
    color: $color-grey-dark-2;

    @include atSmall {
        font-size: 10px;
    }
}

.container {
    display: flex;
    flex-direction: column;

    @include atSmall {
        flex-direction: row;
    }
}