html {
    font-family: $font-primary;
    font-family: 300;
}

.heading-1 {
    font-size: 4rem;
    color: $color-grey-light-1;
    font-weight: 400;
    margin: 2rem 0 2.5rem;
    font-family: $font-display;

    @include atSmall {
        font-size: 5rem;
    }
}

.heading-4 {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: $color-primary;
    font-weight: 500;
    font-family: $font-display;

    &--initial {
        text-transform: initial;
    }

    &--dark {
        color: $color-grey-dark-1;
    }
}