.u-center-text {
    text-align: center;
}

.u-margin-bot-small {
    margin-bottom: 1rem;
}

.u-margin-bot-medium {
    margin-bottom: 2rem;
}

.u-header-realtors-wrapper {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;

    @include atSmall {
        
    }

    @include atMedium {
        flex-direction: row;
    }
}